<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
 <display-name>websitescan</display-name>
    <servlet>
        <servlet-name>StartScanServlet</servlet-name>
        <servlet-class>servlet.StartScanServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StartScanServlet</servlet-name>
        <url-pattern>/startScan</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DownScanResultServlet</servlet-name>
        <servlet-class>servlet.DownScanResultServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DownScanResultServlet</servlet-name>
        <url-pattern>/DownScanResult/*</url-pattern>
    </servlet-mapping>
</web-app>
